# Build artifacts and binaries
build/
bin/
bin-int/
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll

# Visual Studio / VS Code caches
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
CMakeSettings.json
CMakeUserPresets.json

# Raylib downloaded dependencies if fetched via FetchContent
_deps/